# -*- coding: utf-8 -*-
# ---------------------------------------------------------------------------
# ENVIRONMENT VARIABLES FOR LOCAL
# ---------------------------------------------------------------------------
DJANGO_SETTINGS_MODULE=config.settings.local
DEBUG=True
DJANGO_SECRET_KEY="^sa(ljgxas*fkdljgxas*fkdsa(ljgxas*fsa(ljgxas*fkd"
NPM_BIN_PATH= #ex: C:\PATH\to\nodejs\npm.cmd | /usr/local/bin/npm
