exclude: "^docs/|/migrations/"
default_stages: [ commit ]

default_language_version:
  python: python3.9 # Replace with Project Python Version

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: debug-statements
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [ --py39-plus ]

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: [ "--config=setup.cfg" ]
        additional_dependencies: [ flake8-isort ]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.12.0
    hooks:
      - id: django-upgrade
        args: [ --target-version, "4.0" ]   # Replace with Django version

# [OPTIONAL] sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
#ci:
#  autoupdate_schedule: weekly
#  skip: [ ]
#  submodules: false
