{% extends 'website/base.html' %}

{# * LOAD PACKAGES/TAGs #}
{% load static %}
{% load i18n %}
{% load compress %}

{# * Website Title #}
{% block title %}Error 400 | {{ block.super }}{% endblock title %}


{# * ------------------------------- WEBPAGE CONTENT ------------------------------- #}

{% block main-content %}

    <!----------------------------------------------------------
    Content Error Section
    ------------------------------------------------------------>
    <section class="container mx-auto mt-40 mb-10 px-5 md:px-10 py-20 rounded-xl bg-white shadow-xl">

        <div class="w-fit h-fit mx-auto text-center">
            <i class="fa-solid fa-bomb text-8xl text-red-700 m-5"></i>
            <h1 class="text-xl font-semibold">{% translate "BAD REQUEST" %}</h1>
            <h2 class="w-full rounded-xl bg-red-300 font-extrabold">Error 400</h2>
            <p class="px-2">{% translate "You sent an invalid request, this server cannot understand you." %}</p>
        </div>

    </section>

{% endblock main-content %}
{# * ------------------------------------------------------------------------------- #}
