{% extends 'website/base.html' %}

{# ? LOAD PACKAGES/TAGs #}
{% load static %}
{% load compress %}

{# ? Website Title #}
{% block title %}{{ block.super }} - 400 {% endblock title %}

{# ? STATIC CSS | JS #}
{% block css %}
    {{ block.super }}
    {# ? ---- COMPONENTS STYLES ---- #}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {# ? ------ COMPONENTS JS ------ #}
    {% compress js %}
    {% endcompress %}
{% endblock %}


{# ? ------------------------------- WEBPAGE CONTENT ------------------------------- #}
{% block main-content %}

    <!----------------------------------------------------------
    Content Error Section
    ------------------------------------------------------------>
    <section id="error-content">

        <div id="message">
            <h2>Error 500</h2>
            <h1>Fallo interno</h1>
            <p>El servidor encontró un error y no puede completar tu solicitud. Por favor vuelve a intentarlo más tarde.</p>
        </div>

    </section>

{% endblock %}
{# ? ------------------------------------------------------------------------------- #}