{% extends 'website/base.html' %}

{% comment %}
PARAMETERS:
{% endcomment %}

{# LOAD PACKAGES/TAGs #}
{% load static %}

{# Website title #}
{% block title %}{{ block.super }} - Sobre mí{% endblock %}

{# -------------------------------- WEBPAGE CONTENT -------------------------------- #}
{% block main-content %}

    <!------------------------------------------------------------------------------
    About Page Section
    -------------------------------------------------------------------------------->
    <section class="container mx-auto mt-48 mb-10 px-5 md:px-10 lg:px-20 pb-10 rounded-xl bg-white shadow-xl
    page-radial-cut">

        {# -------- Section icon -------- #}
        {% include 'website/components/icon_header.html' with icon_name="fa-solid fa-user-astronaut" %}

        {# -------- Section Content -------- #}

        {# ---- Card ---- #}
        <section class="w-full h-fit flex flex-wrap justify-center items-center">
            {# Card image #}
            <picture class="w-96 md:w-2/6">
                <source srcset="{% static 'img/profile_alt.webp' %}">
                <img class="w-full rounded-t-md md:rounded-md"
                     src="{% static 'img/profile_alt.jpg' %}" alt="profile image">
            </picture>
            {# Card content #}
            <div class="w-96 md:w-3/6 p-5 rounded-b-2xl md:rounded-2xl
            bg-white md:-translate-x-10 drop-shadow-lg">
                <p class="text-justify font-normal">
                    I am John Doe and I work as a software developer.
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci asperiores
                        atque autem blanditiis consectetur doloribus fugit in ipsam itaque labore molestias nam
                        obcaecati, praesentium qui totam vero voluptates voluptatum!</span>
                    <span>Ab, ad adipisci aperiam aspernatur atque autem commodi culpa deserunt dolore doloribus enim
                        eos excepturi facere fuga id laudantium molestias nemo nesciunt obcaecati ratione, rem repellat
                        rerum, soluta temporibus velit!</span>
                </p>
            </div>
        </section>

        {# ---- Stack ---- #}
        <section class="w-full h-fit my-14">
            {% include 'website/components/section_title.html' with section_title="My tech stack" %}
            {% include 'website/components/tech_stack.html' %}
        </section>

        {# ---- Brands ---- #}
        <section class="w-full h-fit my-14">
            {% include 'website/components/section_title.html' with section_title="They trusted me" %}
            {% include 'website/components/brand_slider.html' %}
        </section>

        {# ---- Resume ---- #}
        <section>
            {% include 'website/components/section_title.html' with section_title="Resume" %}
            <div class="grid grid-cols-1 md:grid-cols-2 ">
                <div>
                    <h2 class="mb-2 text-xl font-medium">Professional Experience</h2>

                    <div class="pl-1 bg-gradient-to-t from-blue-500 via-indigo-500 to-purple-500">
                        <ol class="relative w-full h-full bg-white">
                            <li class="mb-10 ml-4">
                                <div class="absolute w-3 h-3 bg-white rounded-full mt-2 -left-2 border border-indigo-600"></div>
                                <h3 class="text-lg font-semibold text-indigo-800">
                                    Bachelor in computer science
                                </h3>
                                <h4 class="inline-block my-2 px-3 py-1 rounded-lg text-sm font-normal text-gray-600 bg-gray-100">
                                    January 2022
                                </h4>
                                <p class="mb-4 text-base font-normal text-gray-600">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorum id
                                    placeat quae, quisquam voluptatum. Aliquam debitis dignissimos ducimus explicabo id
                                    magni minima modi neque non quidem similique, sit voluptates!
                                </p>
                            </li>
                            <li class="mb-10 ml-4">
                                <div class="absolute w-3 h-3 bg-white rounded-full mt-2 -left-2 border border-indigo-600"></div>
                                <h3 class="text-lg font-semibold text-indigo-800">
                                    Senior web developer - Company #2
                                </h3>
                                <h4 class="inline-block my-2 px-3 py-1 rounded-lg text-sm font-normal text-gray-600 bg-gray-100">
                                    January 2021 - December 2021
                                </h4>
                                <p class="mb-4 text-base font-normal text-gray-600">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorum id
                                    placeat quae, quisquam voluptatum. Aliquam debitis dignissimos ducimus explicabo id
                                    magni minima modi neque non quidem similique, sit voluptates!
                                </p>
                            </li>
                            <li class="mb-10 ml-4">
                                <div class="absolute w-3 h-3 bg-white rounded-full mt-2 -left-2 border border-indigo-600"></div>
                                <h3 class="text-lg font-semibold text-indigo-800">
                                    Web developer - Company #1
                                </h3>
                                <h4 class="inline-block my-2 px-3 py-1 rounded-lg text-sm font-normal text-gray-600 bg-gray-100">
                                    June 2019 - December 2019
                                </h4>
                                <p class="mb-4 text-base font-normal text-gray-600">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorum id
                                    placeat quae, quisquam voluptatum. Aliquam debitis dignissimos ducimus explicabo id
                                    magni minima modi neque non quidem similique, sit voluptates!
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>

                <div>
                    <h2 class="mb-2 text-xl font-medium">Education</h2>

                    <div class="pl-1 bg-gradient-to-t from-indigo-500 to-purple-500">
                        <ol class="relative w-full h-full bg-white">
                            <li class="mb-10 ml-4">
                                <div class="absolute w-3 h-3 bg-white rounded-full mt-2 -left-2 border border-indigo-600"></div>
                                <h3 class="text-lg font-semibold text-violet-800">
                                    Master in web services
                                </h3>
                                <h4 class="inline-block my-2 px-3 py-1 rounded-lg text-sm font-normal text-gray-600 bg-gray-100">
                                    2019 - 2021
                                </h4>
                                <p class="mb-4 text-base font-normal text-gray-600">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorum id
                                    placeat quae, quisquam voluptatum.
                                </p>
                            </li>
                            <li class="mb-10 ml-4">
                                <div class="absolute w-3 h-3 bg-white rounded-full mt-2 -left-2 border border-indigo-600"></div>
                                <h3 class="text-lg font-semibold text-violet-800">
                                    Bachelor in computer engineering
                                </h3>
                                <h4 class="inline-block my-2 px-3 py-1 rounded-lg text-sm font-normal text-gray-600 bg-gray-100">
                                    2015 - 2019
                                </h4>
                                <p class="mb-4 text-base font-normal text-gray-600">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorum id
                                    placeat quae, quisquam voluptatum.
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>

            </div>
        </section>


    </section>

{% endblock %}
