{% extends 'website/base.html' %}

{# LOAD PACKAGES/TAGs #}
{% load static %}
{% load i18n %}

{# Website title #}
{% block title %}{% translate "Contact" %} | {{ block.super }}{% endblock %}

{# -------------------------------- WEBPAGE CONTENT -------------------------------- #}
{% block main-content %}

    <!------------------------------------------------------------------------------
    Contact Page Section
    -------------------------------------------------------------------------------->
    <section class="container mx-auto mt-32 mb-10 px-5 md:px-10 lg:px-20 pb-10 rounded-xl bg-white shadow-xl
    page-radial-cut">

        {# -------- Section icon -------- #}
        {% include 'website/components/icon_header.html' with icon_name="fa-solid fa-paper-plane" %}

        {# -------- Section Content -------- #}
        <div class="w-full mt-10 mb-5 grid gap-8 grid-cols-1 md:grid-cols-2 mx-auto text-gray-900">

            {# * ----------- Contact form ------------ #}
            <div class="w-full max-w-md mx-auto flex flex-col justify-center">
                {% include 'website/components/contact_form.html' with form=form %}
            </div>

            {# * ----------- Email me message ------------ #}
            <div class="flex flex-col justify-center items-center">
                <div class="text-center">
                    <p>{% translate "Prefer to email me instead?" %}</p>
                    <p class="text-2xl lg:text-3xl">
                        <a href="mailto:{{ cms_base.email }}"
                           class="font-bold
                                  bg-clip-text text-transparent bg-gradient-to-r from-blue-700 to-violet-700
                                  hover:from-violet-700 hover:to-blue-700">
                            <i class="fa-solid fa-envelope-open-text"></i>
                            {{ cms_base.email }}
                        </a>
                    </p>
                </div>

                <div class="max-w-sm mt-8 object-contain ">
                    <video id="send-email-animation" autoplay loop muted playsinline>
                        <source src="{% static "img/animations/send_email.webm" %}" type="video/webm">
                        <source src="{% static "img/animations/send_email.mp4" %}" type="video/mp4">
                    </video>
                    <script type="text/javascript">
                        document.getElementById("send-email-animation").play();
                    </script>
                </div>
            </div>

        </div>

        {# * ----------- Contact modal on success ------------ #}
        {% include 'website/components/flowbite/modal_contact_success.html' %}

    </section>

{% endblock %}
