{% extends 'website/base.html' %}

{% comment %}
PARAMETERS:
    * cms_projects: QuerySet[Project] --> QuerySet of Project model objects
{% endcomment %}

{# LOAD PACKAGES/TAGs #}
{% load i18n %}

{# Website title #}
{% block title %}{% translate "Projects" %} | {{ block.super }}{% endblock %}

{# -------------------------------- WEBPAGE CONTENT -------------------------------- #}
{% block main-content %}

    <!------------------------------------------------------------------------------
    Projects Page Section
    -------------------------------------------------------------------------------->
    <section class="container mx-auto mt-32 mb-10 px-5 md:px-10 lg:px-20 pb-10 rounded-xl bg-white shadow-xl
    page-radial-cut">

        {# -------- Section icon -------- #}
        {% include 'website/components/icon_header.html' with icon_name="fa-solid fa-laptop-code" %}

        {# -------- Section Content -------- #}
        {% include 'website/components/project_cards.html' with cms_projects=cms_projects %}

    </section>

{% endblock %}
