{% comment %}
PARAMETERS
    * companies:QuerySet[Company] --> QuerySet of Company model objects
{% endcomment %}

{# ? -------------------------------- CONTENT ------------------------------- #}
<div id="brand-slider" class="brand-slider">
    <div class="slide-track">
        {% for company in companies %}
            <div class="slide">
                <img src="{{ company.logo.url }}" alt="{{ company.name }}"/>
            </div>
        {% endfor %}

        {% for company in companies %}
            <div class="slide">
                <img src="{{ company.logo.url }}" alt="{{ company.name }}"/>
            </div>
        {% endfor %}
    </div>
</div>

{# ? --------------------------------- STYLES -------------------------------- #}
<style>
    .brand-slider {
        background: white;
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }


    .brand-slider::before, .brand-slider::after {
        background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    .brand-slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    .brand-slider::before {
        left: 0;
        top: 0;
    }

    .brand-slider .slide-track {
        -webkit-animation: scroll {% widthratio companies.count 1 6 %}s linear infinite;
        animation: scroll {% widthratio companies.count 1 6 %}s linear infinite;
        display: flex;
        width: calc(250px * {% widthratio companies.count 1 2 %});
        height: 100px;
    }

    .brand-slider .slide {
        width: 250px;
        height: 100px;
    }

    .brand-slider .slide img {
        width: 100%;
        height: 100%;
        padding: 20px;
    }


    @-webkit-keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * {{ companies.count }}));
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * {{ companies.count }}));
        }
    }

    @media (max-width: 640px) {
        .brand-slider::before, .brand-slider::after {
            width: 50px;
        }
    }
</style>
