{# ! DYNAMIC FLOWBITE COMPONENT - Requires Flowbite installed #}

{% comment %}
PARAMETERS
    * technologies: QuerySet[Technology] -> QuerySet of Technology model objects
{% endcomment %}

{# LOAD PACKAGES/TAGs #}
{% load static %}
{% load compress %}

{# * -------------------------------- CONTENT ------------------------------- #}

<div class="mb-4">
    <ul class="flex flex-wrap justify-center items-end text-sm font-medium text-center" id="techTab"
        data-tabs-toggle="#techTabContent"
        role="tablist">

        {# ------------- Techology icons ------------- #}
        {% for technology in technologies %}
            {% if forloop.first %}
                {# * First element - activate by default #}
                <li class="mr-2" role="presentation">
                    <button class="inline-block px-4 py-3 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 border-blue-600"
                            type="button" role="tab"
                            id="{{ technology.name|lower }}-tab"
                            data-tabs-target="#{{ technology.name|lower }}-tab-content"
                            aria-controls="{{ technology.name|lower }}-tab-content"
                            aria-selected="true">
                        <div class="flex flex-col gap-2">
                            <img class="h-10 mx-auto" src="{{ technology.logo.url }}" alt="{{ technology.name|lower }}">
                            <p>{{ technology.name }}</p>
                        </div>
                    </button>
                </li>
            {% else %}
                {# * Else - deactivate by default #}
                <li class="mr-2" role="presentation">
                    <button class="inline-block px-4 py-3 rounded-t-lg border-b-2 hover:text-gray-600 hover:border-gray-300 text-gray-500 border-gray-100"
                            type="button" role="tab"
                            id="{{ technology.name|lower }}-tab"
                            data-tabs-target="#{{ technology.name|lower }}-tab-content"
                            aria-controls="{{ technology.name|lower }}-tab-content"
                            aria-selected="false">
                        <div class="flex flex-col gap-2">
                            <img class="h-10 mx-auto" src="{{ technology.logo.url }}" alt="{{ technology.name|lower }}">
                            <p>{{ technology.name }}</p>
                        </div>
                    </button>
                </li>
            {% endif %}

        {% endfor %}

    </ul>
</div>

<div id="techTabContent" class="max-w-3xl mx-auto">

    {# ------------- Techology descriptions ------------- #}
    {% for technology in technologies %}
        {% if forloop.first %}
            {# * First element - activate by default #}
            <div id="{{ technology.name|lower }}-tab-content" role="tabpanel"
                 aria-labelledby="{{ technology.name|lower }}-tab"
                 class="p-4 bg-gray-50 rounded-lg">
                <p class="text-sm text-gray-500">{{ technology.description|safe }}</p>
            </div>
        {% else %}
            {# * Else - deactivate by default #}
            <div id="{{ technology.name|lower }}-tab-content" role="tabpanel"
                 aria-labelledby="{{ technology.name|lower }}-tab"
                 class="hidden p-4 bg-gray-50 rounded-lg">
                <p class="text-sm text-gray-500">{{ technology.description|safe }}</p>
            </div>
        {% endif %}
    {% endfor %}

</div>
